<header class="header">
    <nav class="navigation">
        <ul class="navigation__list">
            <li class="navigation__marker">
                <a class="navigation__link"
                   href="/telephone-book"
                >
                    All Numbers
                </a>
            </li>
            <li class="navigation__marker">
                <a class="navigation__link"
                   href="/telephone-book-add"
                >
                    Add Number
                </a>
            </li>
        </ul>
    </nav>
</header>
